%table.pure-table.pure-table-bordered
  %thead
    %tr
      %th Name
      %th Description
      %th
    %tr
      %td
        %input(v-model='groupName')
      %td
        %input(v-model='groupDescription')
      %td
        %button(v-on:click="groupsCreate('#{session[:csrf]}')")
          Create

  %tbody#groups-index
    %tr(v-for='group in groups')
      %td= "{{ group.name }}"
      %td= "{{ group.description }}"
      %td
